body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header button {
  background-color: #f2f2f2;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 15%;
  font-weight: 500;
}
.header button:hover {
  background-color: #e6e6e6;
}
.main {
  flex-direction: column;
  display: flex;
  background-color: whitesmoke;
  flex: 1;
  align-items: center;
  padding: 20px;
}
.main button {
  border: none;
  background-color: whitesmoke;
  font-size: 26px;
  font-weight: 900;
  padding: 20px;
  border-radius: 15px;
}
.main button:hover {
  background-color: #e6e6e6;
}
.main form button {
  background-color: #ffffb3;
  padding: 5px 50px;
}

.form-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
}

form {
  background-color: #f2f2f2;
  height: 30%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 80px 50px;
  border-radius: 10px;
}
form input {
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
}
.books-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 70%;
  flex: 1;
}
@media screen and (max-width: 768px) {
  .books-grid {
    grid-template-columns: 1fr; /* Adjusted grid template columns for smaller screens */
    width: 70%;
  }
}
@media screen and (max-width: 1200px) {
  .books-grid {
    grid-template-columns: 1fr 1fr; /* Adjusted grid template columns for smaller screens */
    width: 70%;
  }
}
.card {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px #ccc;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 20px;
  margin: 20px;
}
.card p {
  text-align: center;
  margin: 5px;
}
.card p:last-child {
  margin-bottom: 10px;
}
.card p:first-child {
  margin-top: 0px;
}
.card button {
  width: 80%;
  margin: 10px 20px;
  padding: 5px;
  margin: 5px 0px;
}
#read:hover {
  background-color: #ff6666;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: whitesmoke;
}
